@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/0FlMVP6Hrxmt7-fsUFhlFXNIlpcadw_3YS2ixw.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/0FlJVP6Hrxmt7-fsUFhlFXNIlpcSwSrkQQ-p7XwDgw.woff) format('woff');
}
